body{
    background: #eee;
}

#img1{
    transition:All 0.6s ease-in-out;
    -webkit-transition:All 0.6s ease-in-out;
    -moz-transition:All 0.6s ease-in-out;
    -o-transition:All 0.6s ease-in-out;
    -ms-transition:All 0.6s ease-in-out;
}
#img1:hover{
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
}